body{
    font-size: 4rem;
}

.flex-container{
    display: flex;
    background: yellow;
    flex-wrap: wrap;
}

.flex-item{
    margin: 1rem;
    border: 1px solid #000;
    font-size: 0;
    margin: 1rem;
    width: 100px;
    height: 100px;
}